* {
    font-family: 'Courier New', Courier, monospace;
    color: #36454F;
    margin: 20px 10px 30px 10px;
}

body {
    background-color: #f2ede4;
}

.hero-image {
  background-image: url(../images/Drift.png);
  background-size: cover;
  background-position: center;
  width: 100wh;
  height: 80vh;
  display: flex;
  border-radius: 5px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
  font-size: 20px;
}

header {
  padding: 15px 0px 15px 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.grid-container > div {
  grid-row-start: 1;
  grid-row-end: 2;
}

footer {
  text-align: center;
}